body {
    overflow: hidden;
}

.listView {
    overflow-y: scroll;
    height: 175px;
    box-shadow: white inset 0px 0px 80px 80px;
}

.listView::-webkit-scrollbar {
    display: none;
}

.listViewItem {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 24ch;
}

.titleBar {
    padding-top: 5px;
    box-shadow: white 0px 0px 80px 80px;
}